body {
	font: 300 24px 'Quicksand', Helvetica, sans-serif;
	background: #fff url('../img/purty_wood.png') repeat top left fixed;
	text-align: center;
}

.dice_wrapper,
.results,
.wrap {
	width: 630px;
	margin: 0 auto;
}

.die {
	margin: 50px 25px 10px;
	padding: 10px 0 0 0;
	position: relative;
	width: 50px;
	height: 40px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#cccccc), to(#e8e8e8));
	background-image: -moz-linear-gradient(90deg, #cccccc 0%, #e8e8e8 100%);
	border: 2px solid #9d9d9d;
	box-shadow: 0 3px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
	color: #9d9d9d;
	cursor: pointer;
	float: left;
	-webkit-transition: top 0.1s, box-shadow 0.1s;
	-moz-transition: top 0.1s, box-shadow 0.1s;
	-o-transition: top 0.1s, box-shadow 0.1s;
	transition: top 0.1s, box-shadow 0.1s;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}

.die:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f40a0a), to(#f75959));
	background-image: -moz-linear-gradient(90deg, #f40a0a 0%, #f75959 100%);
	box-shadow: 0 0px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
	top: 3px;
	border: 2px solid #9d0000;
	color: #fff;
}

.modifier {
	width: 630px;
	margin: 0 auto;
}

.modifier h3 {
	font-size: 100px;
	color: #333;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #000;
}

.modifier input[type='text'] {
	font-family: 'Quicksand', Helvetica, sans-serif;
	float: left;
	outline: none;
	width: 325px;
	padding: 30px;
	font-size: 60px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border: none;
	box-shadow: 0 3px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
	text-align: center;
	z-index:100;
}

.modifier input[type='button'] {
	font-family: 'Quicksand', Helvetica, sans-serif;
	float: left;
	outline: none;
	width: 245px;
	padding: 30px;
	font-size: 60px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: none;
	box-shadow: 0 3px 0 rgba(0,0,0,0.3), 0 0 5px rgba(0,0,0,0.3);
	text-align: center;
	z-index: 100;
}

.modifier input[type='button']:active {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f40a0a), to(#f75959));
	background-image: -moz-linear-gradient(90deg, #f40a0a 0%, #f75959 100%);
	color: #fff;
}

.modifier input[type='text']:active {
	outline: none;
}

.results h3 {
	font-size: 100px;
	color: #333;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #000;
}

.results h4 {
	font-size: 150px;
	color: #333;
	text-shadow: 0 1px 1px #fff, 0 -1px 1px #000;
}

.selected_dice {
	width: 630px;
	height: 50px;
	float: left;
}

.dice_list {
	width: 630px;
	list-style: none;
}

.dice_list li {
	float: left;
	margin-right: 10px;
}

.dice_list li:after,
.secret_maths li:after {
	content: "  +";
}

.dice_list li:last-child:after,
.secret_maths li:last-child:after {
	content:'';
}

.secret_maths {
	list-style: none;
	width: 150px;
	margin: 0 auto;
}

.secret_maths li {
	font-size: 10px;
	margin-right: 5px;
	float: left;
}
